.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25px;

  &-header {
    padding-top: 50px;
  }

  &-intro {
    max-width: 742px;
  }

  &-services {
    @include flexsb;

    flex-wrap: wrap;

    @include mobile {
      justify-content: center;
  }
  }

  &-process {
    @include flexsb;

    @include tablet {
      flex-direction: column;
    }
  }

  &-testemonials {
    @include flexsb;

    @include mobile {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-features {

    @include mobile {
      text-align: center;
    }
  }

  &-gta {
    text-align: center;
    max-width: 804px;
  }

  &-contactus {
    @include flexsb;

    @include mobile {
      flex-direction: column;
    }
  }

  &-footer {
    @include flexsb;

    @include mobile {
      align-items: center;
    }
  }
}