.person {

  &::after {
    content: "";
    display: block;
    width: 64px;
    height: 162px;
    border-radius: 500px;
    transform: rotate(25deg);
    position: absolute;
    top: 45px;
    left: calc(50% - 32px);
  }

  &_1 {

    &:hover {
      box-shadow: 0px -1px 20px 2px #56CCF2;
    }

    &::after {
      background-color: #56CCF2;
    }
  }

  &_2 {

    &:hover {
      box-shadow: 0px -1px 20px 2px #FCC304;
    }

    &::after {
      background-color: #FCC304;
    }
  }

  &_3 {

    &:hover {
      box-shadow: 0px -1px 20px 2px #F25656;
    }
    
    &::after {
      background-color: #F25656;
      ;
    }
  }

  &__img {
    position: relative;
    z-index: 1;
  }

  &__txt {
    font-size: 15px;

    &::after {
      content: "";
      display: block;
      width: 64px;
      height: 2px;
      margin: 30px auto;
    }

    &_1 {
      &::after {
        background-color: #56CCF2;
      }
    }

    &_2 {
      &::after {
        background-color: #FCC304;
      }
    }

    &_3 {
      &::after {
        background-color: #F25656;
        ;
      }
    }
  }

  &__name {
    font-weight: bold;
    font-size: 13px;
  }

  &__work {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 13px;

    &_1 {
      color: #56CCF2;
    }

    &_2 {
      color: #FCC304;
    }

    &_3 {
      color: #F25656;
    }
  }
}